body{
    background: #ffe259;
    background: linear-gradient(to right, #ffa751, #ffe259);

}

.bg{
    background-image: url(img/fondoLogin.jpeg);
    background-position: center center;
    background-size: cover;
}